HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/wrongbutton/AddedWrongButtonTypos.class
/ajcore.20240627.164737.086.txt
/ajcore.20240627.165255.233.txt
/ajcore.20240627.165310.711.txt
/ajcore.20240627.165813.135.txt
/ajcore.20240627.170039.603.txt
/ajcore.20240627.170658.292.txt
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/AllTypos.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/application.yaml
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/langreplacement/ArrayWithLeadZeros.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/langreplacement/ArrayWithLeadZerosMy.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/aspectjrt-1.9.20.1.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/attoparser-2.0.7.RELEASE.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/cactoos-0.55.0.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/langreplacement/CharToBoolean.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/langreplacement/CharToBooleanMy.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/commons-codec-1.16.1.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/commons-collections4-4.4.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/commons-compress-1.21.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/commons-io-2.11.0.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/commons-math3-3.6.1.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/curvesapi-1.07.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/doublebutton/DoubleButton.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/doublebutton/DoubleButtonTypos.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/langreplacement/EnglishReplacementTypos.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/file/FileName.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/file/FileNameInDownloadFolder.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/text/FirstWord.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/found/FoundFromWeb.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/found/FoundFromWebByAllTypoVariantsOfPhrase.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/found/FoundFromWebByOnePhrase$AjcClosure1.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/found/FoundFromWebByOnePhrase.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/excel/Header.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/excel/HeaderMy.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/excel/Headers.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/excel/HeadersFromProps.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/templates/index.html
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jackson-annotations-2.15.4.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jackson-core-2.15.4.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jackson-databind-2.15.4.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jackson-datatype-jdk8-2.15.4.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jackson-datatype-jsr310-2.15.4.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jackson-module-parameter-names-2.15.4.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jakarta.annotation-api-2.1.1.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jcabi-aspects-0.26.0.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jcabi-log-0.24.1.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/JointTypos.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jsoup-1.15.1.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/jul-to-slf4j-2.0.13.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/wrongbutton/Keyboard.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/log4j-to-slf4j-2.21.1.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/logback-classic-1.4.14.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/logback-core-1.4.14.jar
/out/artifacts/sneakySearch_war_exploded/META-INF/MANIFEST.MF
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/META-INF/MANIFEST.MF
/src/main/resources/META-INF/MANIFEST.MF
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/micrometer-commons-1.12.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/micrometer-observation-1.12.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/missedbutton/MissedInnerButton.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/missedbutton/MissedInnerButtonTypos.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/mixedbuttons/MixedButtons.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/mixedbuttons/MixedButtonsTypos.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/poi-5.2.2.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/poi-ooxml-5.2.2.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/poi-ooxml-lite-5.2.2.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/PurchaseObject.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/PurchaseObjectMy.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/Result.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/templates/result.html
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/ResultLink.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/ResultLinkWithPurchaseObject.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/ResultMy.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/wrongbutton/RussianKeyboard$1.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/wrongbutton/RussianKeyboard$2.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/wrongbutton/RussianKeyboard.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/SearchController.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/langreplacement/SequentialBinaryDigits.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/langreplacement/SequentialBinaryDigitsMy.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/slf4j-api-2.0.13.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/snakeyaml-2.2.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/SneakySearchApplication.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/SneakySearchException.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/SparseBitSet-1.2.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-aop-6.1.6.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-beans-6.1.6.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-boot-3.2.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-boot-autoconfigure-3.2.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-boot-starter-3.2.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-boot-starter-json-3.2.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-boot-starter-logging-3.2.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-boot-starter-thymeleaf-3.2.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-boot-starter-tomcat-3.2.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-boot-starter-web-3.2.5.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-context-6.1.6.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-core-6.1.6.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-expression-6.1.6.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-jcl-6.1.6.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-web-6.1.6.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/spring-webmvc-6.1.6.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/static/style.css
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/thymeleaf-3.1.2.RELEASE.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/thymeleaf-spring6-3.1.2.RELEASE.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/found/ToFoundFromWebByOnePhrase.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/tomcat-embed-el-10.1.20.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/tomcat-embed-websocket-10.1.20.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/result/ToResultLink.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/Typos.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/unbescape-1.1.6.RELEASE.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/validation-api-2.0.1.Final.jar
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/WordWithTypo.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/excel/WrittenToExcel.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/excel/WrittenToFile.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/wrongbutton/WrongButtonAfter.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/wrongbutton/WrongButtonBefore.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/classes/com/example/sneakysearch/typos/wrongbutton/WrongButtonInsteadOf.class
/out/artifacts/sneakySearch_war_exploded/WEB-INF/lib/xmlbeans-5.0.3.jar
