<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<form action="/search" method="GET">
    <div class="formcontainer">
        <hr/>
        <div class="container">
            <textarea name="word" rows="5" cols="50" th:placeholder="${@environment.getProperty('someParameter.value')}"
                      autocomplete="on" minlength="3" required autofocus></textarea>
        </div>
        <p th:text="${@environment.getProperty('someParameter.value')}"></p>
        <p th:text="ghyy"></p>

        <button type="submit">Пуск</button>
        <div class="container" style="background-color: #eee">
            <label style="padding-left: 15px">
        </div>

    </div>
</form>
</body>
</html>