body {
    background: #f5f3eb;
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 5px solid #f1f1f1;
}
input {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #5e5d59;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    width: 100%;
}