body {
    background: #f5f3eb;
    margin: 0;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cbox {
    color: #5e5d59;
    padding: 0% 0;
    margin: 0px 0;
    font-size: 11px;
    line-height: 1em;
    width: 100%;
}

button {
    background-color: #5e5d59;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    width: 100%;
}