<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
</head>
<body>

<form action="/search" method="GET">
    <div class="formcontainer">
        <hr/>
        <div class="container">
            <textarea name="phrase" rows="5" cols="50" placeholder="Введите всё, что хотите найти, через запятые. Например: гардасил, менактра"
                      autocomplete="on" minlength="3" required autofocus></textarea>
        </div>
        <div class="cbox">
            <label class="checkbox">
                <input name="checkbox" type="checkbox"/>
                <span id="checkmark">Включая подмены на английские буквы. Скорее всего сайт это умеет сам,
                    <br> поэтому вам нет необходимости отмечать эту галку.</span>
            </label>
        </div>
        <div class="go">
            <button type="submit">Пуск</button>
        </div>
    </div>
</form>
</body>
</html>