<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
</head>
<body>

<form action="/search" method="GET">
    <div class="formcontainer">
        <hr/>
        <div class="container">
            <textarea name="word" rows="5" cols="50" placeholder="Введите одно слово"
                      autocomplete="on" minlength="3" required autofocus></textarea>
        </div>
        <button type="submit">Пуск</button>
    </div>
</form>
</body>
</html>